## Pandas II
### Handling Missing Data and Data Transformation

Let's practica a little bit here, take home what you did not solve today.

Exercises:

1. Create a new column called **professor_initials** that stores the initials of each professor's first and last names. Use the following data:

In [2]:
import pandas as pd

data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

def initials(cell):
    lis = cell.split()
    return f'{lis[0][0]}{lis[1][0]}'

df['professor_initials'] = df['professor'].apply(initials)

df

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

2. Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.

In [3]:
courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}

df_courses = pd.DataFrame(courses_data)

new_dataframe = df.merge(df_courses, on='professor')

new_dataframe

,professor,department,age,professor_initials,courses
0,Ludmila Kuncheva,Computer Science,45,LK,Machine Learning
1,Antonio Torralba,Computer Vision,50,AT,Computer Vision
2,Manuel Gonzalez,AI & Robotics,47,MG,AI Programming
3,Bastian Leibe,Autonomous Systems,38,BL,Self-Driving Cars

3. Combine the original df and df_courses DataFrames.

In [4]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

new_dataframe = df.merge(df_courses, on='professor')

new_dataframe

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

4. In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.

In [5]:
def initials(name):
    return name.split()[1]

df['professor_last_name'] = df['professor'].apply(initials)

df

          professor          department  age professor_last_name
0  Ludmila Kuncheva    Computer Science   45            Kuncheva
1  Antonio Torralba     Computer Vision   50            Torralba
2   Manuel Gonzalez       AI & Robotics   47            Gonzalez
3     Bastian Leibe  Autonomous Systems   38               Leibe